* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* ----Share style Or reusing class---- */
.same-container {
    width: 75%;
    margin: 0rem auto;
    padding: 1rem;
}

.section-title {
    color: #131313;
    font-size: 2.25rem;
    font-weight: 700;
}

.section-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.btn-primary {
    width: 11rem;
    height: 4rem;
    margin: 1.25rem;
    padding: 1rem;
    border: 0rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFF;
    background: #FF900E;
    text-align: center;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    width: 100%;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

.nav-bar ul li {
    list-style: none;
    margin: 2.5rem;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}


/* ------Banner section---- */
.banner {
    width: 44%;
    margin: 0px auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}


.banner-img img {
    width: calc(100% - 4rem);
    padding: 1rem 2rem;
}

/* ------team work section---- */
.teams-container {
    width: 66%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.teams-img-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-container h3 {
    color: #131313;
    font-size: 2.75rem;
    font-weight: 700;
}

#teams-title-1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

#teams-title-2 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/* ------feature section---- */


/* ------facts cards section---- */
.fact-cards-container {
    display: flex;
    justify-content: space-around;
}
.facts-card{
    border-radius: 0.5rem;
    border:2px solid #FF900E;
    text-align: center;
    padding: 2rem
}

.fact-cards .stats-title {
    color: #424242;
    font-size: 2.7rem;
    font-weight: 600;
}
.fact-cards .cards-title {
    color: #424242;
    font-size: 1.25rem;
    font-weight: 600;
}

/* -------sponsors section------ */
.sponsors-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}




/* --------small device------- */
@media screen and (max-width:576px) {

    /* header style */
    .same-container {
        width: 98%;
        margin: 0rem auto;
    }

    nav {

        flex-direction: column;
    }

    .nav-bar ul li {
        margin: 1rem;
    }

    .banner {
        width: 100%;
    }

    /* ------team work section---- */
    .teams-container {
        flex-direction: column;
        margin: 1rem auto;
    }

    .teams-img-container {
        grid-template-columns: 1fr;

    }

    /* ------feature section---- */


    /* ------facts cards section---- */
    .fact-cards-container{
        flex-direction: column;
        gap: 1.5rem;
    }
    .sponsors-container{
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* --------medium device------- */
@media screen and (min-width: 577px) and (max-width: 992px) {

    /* header style */
    nav {

        flex-direction: column;
    }

    .banner {
        width: 100%;
        margin: 1rem;
        width: calc(100% - 2rem);
    }

    /* ------team work section---- */
    .teams-container {
        flex-direction: column;
        width: 80%;
        margin: 1rem auto;
    }

    /* ------feature section---- */


    /* ------facts cards section---- */
    .fact-cards-container{
        flex-direction: column;
        gap: 1.5rem;
    }
}